= form_for(cliente) do |f|
  - if cliente.errors.any?
    #error_explanation
      %h2= t('record_invalid', scope: [:activerecord, :errors, :messages], errors: nil)
      %ul
        - cliente.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :nome
    = f.text_field :nome
  .field
    = f.label :sobrenome
    = f.text_field :sobrenome
  .actions
    = f.submit
