= form_for(cliente, html: { class: 'w3-container', style: 'width: 50%' }) do |f|
  - if cliente.errors.any?
    #error_explanation
      %h2= t('record_invalid', scope: [:activerecord, :errors, :messages], errors: nil)
      %ul
        - cliente.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :nome, class: 'w3-label w3-text-theme'
    = f.text_field :nome, class: 'w3-input w3-border w3-padding-4 w3-animate-input', autofocus: 'autofocus'
  %br
  .field
    = f.label :sobrenome, class: 'w3-label w3-text-theme'
    = f.text_field :sobrenome, class: 'w3-input w3-border w3-padding-4'
  %br
  .field
    = f.label :sexo, class: 'w3-label w3-text-theme'
    = f.select(:sexo, options_for_select(get_sex), {}, {:class => 'w3-input w3-border w3-padding-4'})
  %br
  .field
    = f.label :data_nascimento, class: 'w3-label w3-text-theme'
    = f.date_field :data_nascimento, class: 'w3-input w3-border w3-padding-4'
  %br
  .field
    = f.label :endereco, class: 'w3-label w3-text-theme'
    = f.text_field :endereco, class: 'w3-input w3-border w3-padding-4'
  %br
  .field
    = f.label :cep, class: 'w3-label w3-text-theme'
    = f.text_field :cep, class: 'w3-input w3-border w3-padding-4'
  %br
  .field
    = f.label :email, class: 'w3-label w3-text-theme'
    = f.email_field :email, class: 'w3-input w3-border w3-padding-4'
  %br
  .field
    = f.label :uf, class: 'w3-label w3-text-theme'
    = f.select(:uf, options_for_select((I18n.locale == :'pt-BR' ? br_states : us_states), cliente.uf),
                    {}, {:class => 'w3-input w3-border w3-padding-4'})
  %br
  .field
    = f.label :cidade, class: 'w3-label w3-text-theme'
    = f.text_field :cidade, class: 'w3-input w3-border w3-padding-4'
  %br
  .field
    = f.label :pais, class: 'w3-label w3-text-theme'
    = f.text_field :pais, class: 'w3-input w3-border w3-padding-4'
  %br
  .field
    = f.check_box :newsletter, class: 'w3-border w3-padding-4 w3-check'
    = f.label :newsletter, class: 'w3-label w3-text-theme'
  %br
  .actions
    = f.submit
