%p#notice= notice
%p
  %strong= t('nome', scope: [:activerecord, :attributes, :cliente])
  = @cliente.nome
%p
  %strong= t('sobrenome', scope: [:activerecord, :attributes, :cliente])
  = @cliente.sobrenome
= link_to t('editar'), edit_cliente_path(@cliente)
|
= link_to t('voltar'), clientes_path
