= form_for(tipo) do |f|
  - if tipo.errors.any?
    #error_explanation
      %h2= t('record_invalid', scope: [:activerecord, :errors, :messages], errors: nil)
      %ul
        - tipo.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :nome
    = f.text_field :nome
  .field
    = f.label :descricao
    = f.text_area :descricao
  .actions
    = f.submit
