- if notice.present?
  %p#notice.w3-panel.w3-green.w3-padding.w3-card-8= notice
%h1.w3-xxxlarge
  %b= t('main')
%br
%h6= t('features.main')
#features
  %ul
    %li= t('features.i18n')
    %li= t('features.auth')
    %li= t('features.validations')
    %li= t('features.haml')
    %li= t('features.upload-imgs')
    %li
      = t('features.w3css')
      = link_to 'W3.css', 'http://www.w3schools.com/w3css', target: '_blank'