= form_for(produto, html: { class: 'w3-container', style: 'width: 50%' }) do |f|
  .field
    = f.label :nome, class: 'w3-label w3-text-theme'
    = f.text_field :nome, class: 'w3-input w3-border w3-padding-4', autofocus: 'autofocus'
  %br
  .field
    = f.label :descricao, class: 'w3-label w3-text-theme'
    = f.text_area :descricao, {class: 'w3-input w3-border w3-padding-4', cols: 20 , rows: 10}
  %br
  .field
    = f.label :tipo, class: 'w3-label w3-text-theme'
    = f.collection_select :tipo_id, @tipos, :id, :nome, {prompt: true},
    {class: 'w3-input w3-border w3-padding-4'}
  %br
  .field
    = f.label :valor, class: 'w3-label w3-text-theme'
    = f.number_field :valor, min: 1, class: 'w3-input w3-border w3-padding-4'
  %br
  .field
    = f.label :estoque, class: 'w3-label w3-text-theme'
    = f.number_field :estoque, min: 1, class: 'w3-input w3-border w3-padding-4'
  %br
  .field
    = f.label :image, class: 'w3-label w3-text-theme'
    = f.file_field :image
  %br
  .actions
    = f.submit
    = t('ou')
    = link_to t('voltar'), produtos_path
