- if notice.present?
  %p#notice.w3-panel.w3-green.w3-padding.w3-card-8= notice
%h1= t('other', scope: [:activerecord, :models, :produto])
%table.w3-table-all
  %thead
    %tr
      %th= t('nome', scope: [:activerecord, :attributes, :produto])
      %th= t('one', scope: [:activerecord, :models, :tipo])
      %th= t('descricao', scope: [:activerecord, :attributes, :produto])
      %th= t('valor', scope: [:activerecord, :attributes, :produto])
      %th= t('estoque', scope: [:activerecord, :attributes, :produto])
      %th{:colspan => "3"}
  %tbody
    - @produtos.each do |produto|
      %tr
        %td= produto.nome
        %td= produto.tipo.nome
        %td= truncate(produto.descricao)
        %td= number_to_currency produto.valor
        %td= produto.estoque
        %td= link_to t('exibir'), produto
        %td= link_to t('editar'), edit_produto_path(produto)
        %td= link_to t('excluir'), produto, method: :delete, data: { confirm: t('confirmar') }
%br/
= link_to t('novo', scope: [:activerecord, :attributes, :produto]), new_produto_path
