%p#notice= notice
%p
  %strong= t('activerecord.attributes.produto.nome')
  = @produto.nome
%p
  %strong= t('activerecord.attributes.tipo.nome')
  = @produto.tipo.nome
%p
  %strong= t('activerecord.attributes.produto.descricao')
  = @produto.descricao
%p
  %strong= t('activerecord.attributes.produto.valor')
  = @produto.valor
%p
  %strong= t('activerecord.attributes.produto.estoque')
  = @produto.estoque
%p
  %strong= t('activerecord.attributes.produto.image')
  - if @produto.image?
    = image_tag @produto.image_url
  - else
    = t('activerecord.attributes.produto.no-image')

= link_to t('editar'), edit_produto_path(@produto)
= t('ou')
= link_to t('voltar'), produtos_path
