%p#notice= notice
%p
  %strong= t('nome', scope: [:activerecord, :attributes, :produto])
  = @produto.nome
%p
  %strong= t('tipo', scope: [:activerecord, :models, :tipo])
  = @produto.tipo.nome
%p
  %strong= t('descricao', scope: [:activerecord, :attributes, :produto])
  = @produto.descricao
%p
  %strong= t('valor', scope: [:activerecord, :attributes, :produto])
  = @produto.valor
%p
  %strong= t('estoque', scope: [:activerecord, :attributes, :produto])
  = @produto.estoque

= link_to t('editar'), edit_produto_path(@produto)
|
= link_to t('voltar'), produtos_path
