%p#notice= notice
%h1= t('other', scope: [:activerecord, :models, :produto_tipo])
%table
  %thead
    %tr
      %th= t('nome', scope: [:activerecord, :attributes, :produto_tipo])
      %th= t('descricao', scope: [:activerecord, :attributes, :produto_tipo])
      %th{:colspan => "3"}
  %tbody
    - @produto_tipos.each do |produto_tipo|
      %tr
        %td= produto_tipo.nome
        %td= truncate(produto_tipo.descricao)
        %td= link_to t('exibir'), produto_tipo
        %td= link_to t('editar'), edit_produto_tipo_path(produto_tipo)
        %td= link_to t('excluir'), produto_tipo, method: :delete, data: { confirm: t('confirmar') }
%br/
= link_to t('novo', scope: [:activerecord, :attributes, :produto_tipo]), new_produto_tipo_path
= link_to t('voltar'), root_path
