%p#notice= notice
%p
  %strong= t('nome', scope: [:activerecord, :attributes, :produto_tipo])
  = @produto_tipo.nome
%p
  %strong= t('descricao', scope: [:activerecord, :attributes, :produto_tipo])
  = @produto_tipo.descricao
= link_to t('editar'), edit_produto_tipo_path(@produto_tipo)
|
= link_to t('voltar'), produto_tipos_path
